<app-header></app-header>



<nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
   
                <li>
                        <div class="col-md-2">
                        <a routerLink="/getallcoupons" class="btn btn-danger navbar-btn" role="button">Get All Coupons</a>
                        </div>
                </li>
    
                <li>
                        <div class="col-md-2">
                        <a routerLink="/purchasecoupon" class="btn btn-warning navbar-btn" role="button">Purchase Coupon</a>
                        </div>
                </li>

                <li>
                        <div class="col-md-2">
                        <a routerLink="/getallpurchasedcoupons" class="btn btn-primary navbar-btn" role="button">Get All Purchased Coupons</a>
                        </div>
                    </li>
        <li>
                <div class="col-md-2">
                <a routerLink="/getallpurchasedcouponsbytype" class="btn btn-success navbar-btn" role="button">Get Purchased Coupons By Type</a>
                </div>
        </li>

        <li>
                <div class="col-md-2">
                <a routerLink="/getallpurchasedcouponsbyprice" class="btn btn-info navbar-btn" role="button">Get Purchased Coupons By Price</a>
                </div>
        </li>        
       </ul>
        </div>
    </nav>
    
    <div id="div-router">
            <router-outlet></router-outlet>
        </div>
    
